@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    min-height: 100vh;
}

.header-logo{
    max-width: 12rem;
    margin-left: 4rem;
}

.content{
    color: white;
}

.content-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

.content-para{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    text-align: left;
}

.content-button{
    max-width: 100%;
    width: 10rem;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: none;
    box-shadow: 5px 10px 8px hsl(258, 35%, 39%);
}

.content-button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social-media{
    display: flex;
    justify-content: flex-end;
}

.social-media i{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.social-media i:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

@media screen and (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .content-para{
        font-size: 1rem;
        text-align: center;
    }
    .social-media{
        display: flex;
        justify-content: center;
    }
       
}

@media screen and (max-width: 768px) {
    body{
        background-image: url("./images/bg-mobile.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .header-logo{
        margin-left: 0;
    }  
    
}